<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <img src="https://i.pinimg.com/originals/d9/ac/4d/d9ac4de378b3971e4ba845e2e886e0ee.jpg" alt="Picture of red haired anime character" width=150>
    <a href="https://www.facebook.com/john.r.ducut/"target="_blank"><h2>John Roy C. Ducut</h2></a>
    <h3><em>Future Software Engineer</em></h3>

    <p>I am a currently a third year at the University of the Assumption. I am 20 years old soon to be 21 in october, I am studying to become a future Software Engineer. </p>
    <hr>

    <h2>EDUCATIONAL BACKGROUND</h2>
<ul>
    <li>Saint Nicholas Academy CCEI: Elementary-Highschool</li>
    <li>University of the Assumption: Senior Highschool-Present(College)</li>
</ul>

<hr>

<h2>Hobbies</h2>
<ul>
    <li>Gaming</li>
    <li>Reading</li>
    <li>Badminton</li>
    <li>Chess</li>
    <li>Internet Surfing</li>
    <li>Wathing Movie/Anime</li>
</ul>

<hr>

<h2>PROJECTS</h2>
<ol>
    <li>Sudoku game using Python</li>
    <li>Figma Website of the University of the Assumption</li>
    <li>Working Motion Detector with light indicators</li>
</ol>

<hr>

<h2>TECHNOLOGIES I USE</h2>
<ul>
    <li>Python</li>
    <li>HTML</li>
    <li>Javascript</li>
    <li>MYSQL</li>
    <li>Figma</li>
    <li>Capcut</li>
    <li>phpmyadmin</li>
    <li>codechum</li>
    <li>Pycharm</li>
    <li>Microsoft(word-excel)</li>
    <li>Filmora</li>
    <li>Power BI</li>
    <li>Codepen</li>
</ul>

<hr>

<h2>QUOTE</h2>
<p></p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx9oKSyPL_hORXWJRXQmVhFjU2YbndkRBzUA&s" alt="Quote about being happy">

</body>
</html>